body {
  --primary: #f06c64;
  --dark-background: #2d303a;
  --light-background: #f2f2f2;
  --text: #666d89;

  margin: 0;
  padding: 0;

  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;

  background-color: white;
}



h2,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;

  font-weight: 900;
  
  color: var(--text);
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 0.8em;
}

.wrapper {
  width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.contacts h2 {
  letter-spacing: -0.009em;
}

.contacts p {
  margin-block-start: 18px;
  margin-block-end: 0;

  font: 300 18px/30px "Lato", "Arial", sans-serif;
  text-align: justify;
  letter-spacing: -0.012em;

  color: var(--text);
}



button {
  padding: 0;
  font: inherit;
  
  cursor: pointer;
  
  color: inherit;
  background-color: transparent;
  border: none;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  filter: saturate(1.25);
}

button:disabled {
  opacity: 0.7;
  cursor: default;
}



.social-icons {
  margin-top: 24px;
  padding-left: 1px;
}

.social-icons .icon {
  display: inline-block;

  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid var(--text);
  border-radius: 50%;
}

.social-icons .icon:not(:first-child) {
  margin-left: 4px;
}

.social-icons .icon:hover,
.contact-form__info .phone:hover,
.contact-form__info .email:hover {
  opacity: 0.6;
}

.icon.icon_facebook {
  background-image: url("assets/icon_facebook.svg");
}

.icon.icon_google-plus {
  background-image: url("assets/icon_google-plus.svg");
  background-position-x: 7px;
}

.icon.icon_twitter {
  background-image: url("assets/icon_twitter.svg");
  background-position-x: 7px;
}

.icon.icon_linkedin {
  background-image: url("assets/icon_linkedin.svg");
  background-position-y: 7px;
}



.contacts,
footer {
  width: 100%;
}



.contacts {
  padding-top: 60px;
  padding-bottom: 13px;

  background-color: var(--primary);

  border-bottom: 6px solid #ea676b;
}

.contacts h2,
.contacts h3,
.contacts p,
.contacts a {
  color: #f0d8d9;
}

.contact-form {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

form > * {
  display: block;
}

input,
textarea,
form button {
  padding: 12px 15px;
  width: 619px;
  box-sizing: border-box;

  font: normal 12px/14px "Lato", "Arial", sans-serif;
  
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  color: #f0d8d9;
}

::placeholder {
  color: #f48c8f;
  opacity: 1;
}

input,
textarea {
  margin-bottom: 16px;
}

textarea {
  padding: 11px 15px 13px 14px;
  resize: none;
  max-height: 202px;
}

input:focus:invalid {
  filter: saturate(1.5);
}

form button {
  padding: 12px 14px 10px;

  width: initial;

  background-color: transparent;
  color: #f0d8d9;
  border: 1px solid #f0d8d9; 
}

form button:hover {
  padding: 13px 15px 11px;

  background-color: #f0d8d9;
  color: var(--primary);
  border: none;
}

.contact-form__info {
  width: 303px;
  padding-left: 3px;
  box-sizing: border-box;
}

.contact-form__info h3 {
  margin-top: 2px;
  letter-spacing: 0.004em;
}

.contact-form__info > p,
.contact-form__info > a {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 12px;

  font-weight: normal;
  font-size: 12px;
  letter-spacing: -0.004em;
  line-height: 22px;
  text-align: justify;
  hyphens: manual;
}

.contact-form__info .address,
.contact-form__info > a {
  padding-left: 23px;
}

.contact-form__info > a {
  display: block;
  margin-block-start: 0;

  line-height: 22px;
  text-decoration: none;
}

.contact-form__info .address {
  margin-block-start: 0;
  margin-top: 20px;

  letter-spacing: -0.013em;

  background: transparent url("assets/icon-location.svg") no-repeat 3px center;
}

.contact-form__info .phone {
  margin-top: -0.07em;

  letter-spacing: -0.016em;

  background: transparent url("assets/icon-phone.svg") no-repeat left center;
}

.contact-form__info .email {
  letter-spacing: -0.002em;

  background: transparent url("assets/icon-email.svg") no-repeat left 7px;
}


footer {
  padding-top: 22px;
  padding-bottom: 19px;

  background-color: var(--dark-background);
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .copyright {
  margin-top: -4px;

  font-weight: 300;
  font-size: 12px;
  letter-spacing: -0.004em;

  color: var(--text);
}

footer .social-icons {
  margin: 0;
}



.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;

  overflow: hidden;
}