body {
  --primary: #f06c64;
  --dark-background: #2d303a;
  --light-background: #f2f2f2;
  --text: #666d89;

  margin: 0;
  padding: 0;

  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;

  background-color: white;
}



h2,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;

  font-weight: 900;
  
  color: var(--text);
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 0.8em;
}

.wrapper {
  width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.portfolio p,
.about-us p {
  margin-block-start: 18px;
  margin-block-end: 0;

  font: 300 18px/30px "Lato", "Arial", sans-serif;
  text-align: justify;
  letter-spacing: -0.012em;

  color: var(--text);
}



button {
  padding: 0;
  font: inherit;
  
  cursor: pointer;
  
  color: inherit;
  background-color: transparent;
  border: none;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  filter: saturate(1.25);
}

button:disabled {
  opacity: 0.7;
  cursor: default;
}



.social-icons {
  margin-top: 24px;
  padding-left: 1px;
}

.social-icons .icon {
  display: inline-block;

  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid var(--text);
  border-radius: 50%;
}

.social-icons .icon:not(:first-child) {
  margin-left: 4px;
}

.social-icons .icon:hover {
  opacity: 0.6;
}

.icon.icon_facebook {
  background-image: url("assets/icon_facebook.svg");
}

.icon.icon_google-plus {
  background-image: url("assets/icon_google-plus.svg");
  background-position-x: 7px;
}

.icon.icon_twitter {
  background-image: url("assets/icon_twitter.svg");
}

.icon.icon_linkedin {
  background-image: url("assets/icon_linkedin.svg");
  background-position-y: 7px;
}



.portfolio,
.about-us {
  width: 100%;
}



.portfolio {
  padding-top: 60px;
  padding-bottom: 67px;

  background-color: var(--dark-background);
  border-bottom: 6px solid #323746;
}

.portfolio h2 {
  letter-spacing: 0.008em;
}

.portfolio__tags {
  margin: 11px 0 19px;
  padding-left: 1px;
}

.portfolio__tags .tag {
  padding: 4px 7px 4px;

  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;

  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 5px;
}

.portfolio__tags .tag:hover {
  color: #dedede;
  border-color: #dedede;
}

.portfolio__tags .tag:not(:first-child) {
  margin-left: 6px;
}

.portfolio__tags .tag.selected {
  color: #dedede;
  border-color: #dedede;

  cursor: default;
}

.portfolio__pictures {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  height: 601px;
  overflow: hidden;
}

.portfolio__picture {
  margin-bottom: 20px;
}

.portfolio__picture:nth-child(n+9) {
  margin-bottom: 0;
}



.about-us {
  padding-top: 59px;
  padding-bottom: 67px;

  background-color: var(--light-background);
  border-bottom: 6px solid #ffffff;
}

.about-us h2 {
  letter-spacing: -0.006em;
}

.layout-3-column {
  display: flex;

  margin-top: 45px;
}

.about-us__employee {
  width: 300px;
}

.about-us__employee:nth-child(2) {
  margin-left: 19px;
}

.about-us__employee:nth-child(3) {
  margin-left: 21px;
}

.about-us__employee h3 {
  margin-top: 12px;

  letter-spacing: -0.005em;
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about-us__employee:nth-child(2) h3 {
  letter-spacing: -0.01em;
}

.about-us__employee:nth-child(3) h3,
.about-us__employee:nth-child(3) p,
.about-us__employee:nth-child(3) .social-icons {
  margin-left: -1px;
}

.about-us__employee:nth-child(3) h3 {
  letter-spacing: 0.005em;
}

.about-us__employee:nth-child(3) p {
  letter-spacing: -0.003em;
}

.about-us .about-us__employee p {
  margin-top: 8px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.75em;
}

.about-us__employee:nth-child(2) p {
  letter-spacing: 0;
}